<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Objects_SampleModule::catalog_cities" title="Cities" translate="title" module="Objects_SampleModule" sortOrder="30"   action="objects/city/index/" parent="Magento_Catalog::inventory" resource="Objects_SampleModule::cities"/>
    </menu>
</config>